#post-news {
  margin-top: 2rem;
}

#news-form {
  display: flex;
  flex-direction: column;
}

#news-form label {
  margin: 0.5rem 0 0.2rem;
}

#news-form input, #news-form textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

#news-form button {
  padding: 0.5rem;
  background-color: #ff0000; /* Vermelho */
  color: #ffffff;
  border: none;
  cursor: pointer;
}

#news-form button:hover {
  background-color: #cc0000;
}
